
#proj{
  h1{
    /* color:orange; */
    text-align:right;
    width:90%;
    margin-bottom:0px;
  }
  hr{
    width:90%;
    margin-bottom:40px;
  }
  #con{
      display:flex;
  gap:54px;
  flex-wrap:wrap;
  justify-content:center;
  }
  .p{
    font-weight:900;
    transition:transform 0.4s,box-shadow 0.4s;
    background-color:rgba(180, 180, 255, 0.825);
    color:black;
    padding:10px;
    border-style:solid;
    border-color:black;
    width:500px;
    div{
      h2{
/*         background-color:bisque; */
/*         background-color:orange; */
/*         border-style:solid; */
        border-width:6px 0px 0px 0px;
        margin:0px;
        position:relative;
        height:0px;
        bottom:36px;
        text-align:center;
        color:white;
      }
      img{
        width:100%;
      }
    }
    p{
      margin:0px;
      font-size:20px;
      padding:10px;
      b{
        .icon{
          position: relative;
          top:2px;
        }
      }
    }
    a{
      color:black;
    }
  }
}
#proj .p:hover{
  transform:translate(10px,10px);
  box-shadow:-10px -10px 2px white;
}

@media screen and (max-width:1200px){
  #proj{
/*     content-visibility:hidden; */
    .p{
      width:400px;
      p{
        font-size:16px;
      }
    }
  }
}