#skl{
/*   background-color: */
/*   justify-self:center; */
/*   background-color:bisque; */
  h1{
    text-align:right;
    width:80%;
    margin:0px auto;
  }
  hr{
    width:80%;
    margin-bottom:40px;
  }
  .con{
    margin:0px auto;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:120px;
/*     background-color:bisque; */
    .e{
      transform:translate(0px,-4px);
      box-shadow:0px 4px black;

      i{
        font-size:40px;
        color:purple;
      }
      text-align:center;
      box-sizing:border-box;
      width:120px;
      height:120px;
      font-size:25px;
      transition:background-color 0.2s,border-color 0.2s,transform 0.2s,box-shadow 0.2s;
      user-select:none;
      background-color:bisque;
      cursor:pointer;
      padding:10px;
      border-style:solid;
      border-color:black;
      border-radius:10px;
      display:flex;
      justify-content:center;
      flex-direction:column;
      align-items:center;
    }
  }
}
#skl .con .e:hover{
  background-color:bisque;
  border-color:black;
  transform:translate(0px,4px);
  box-shadow:0px 0px 10px white;
}
@media screen and (max-width:1000px){
  #skl{
    h1{
      width:90%;
    }
    hr{
      width:90%;
    }
    .con{
      gap:80px;
      width:90%;
      .e{
        i{
          font-size:28px;
        }
        width:100px;
        height:100px;
        font-size:22px;
      }
    }
  }
} 